$text-color: rgb(54, 49, 49);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-y: scroll;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5)), url('../img/310786.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* ---------------------------CONTAINER--------------------------- */
.container{
    width: 50em;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 100%;
    padding: 4em 0;
    display: flex;		
    flex-direction: column;
    align-items: center;
    transition: opacity 1s ease-in-out;

    /* ---------------------------NAV--------------------------- */
        .nav{
            margin: 2.5em 0;
            margin-top: 4.5em;
            .icon{
                text-decoration: none;
                position: relative;
                font-size: 2.5em;
                margin: 0 1em;
                color: rgba(95, 95, 95, 0.5);
                transition: all 0.3s;

                &::after {
                    content: "";
                    position: absolute;
                    width: 0em;
                    height: 0em;
                    background: white;
                    left: 0em;
                    bottom: -1.75em;
                    z-index: -1;
                    transform: rotate(45deg);
                    transition: all 0.3s;
                }
    
                &.active{
                    color: white;
                    &::after {
                        width: 1em;
                        height: 1em;
                    }
                }
            }
        }
        
    
    /* ---------------------------MAIN--------------------------- */
        .main{
            color: $text-color;
            background: white;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.5em;
            #home{ 
                z-index: 1;
                display: none;
                align-items: center;
                transition: all .5s;
                header{
                    width: 80%;
                    h1, p{
                        line-height: 2em;
                        margin-left: 50px;
                    }
                }
                &.appear{
                    display: flex;
                    h1, p{
                        animation-name: screenAppear;
                        animation-duration: 1.5s;
                    }
                }
            }

            #projects{
                display: none;
                z-index: 1;

                padding: 2.5em;
                transition: all .5s;
                header{
                    h1, p{
                        line-height: 2em;
                    }
                }
                .project-sec{
                    .work{
                        margin-bottom: 1px;
                        a{
                            position: relative;
                            img{
                                width: 100%;
                                height: 32.5vh;
                                transition: all .5s;
                            }
                            .pj-detail{
                                z-index: 2;
                                position: absolute;
                                bottom: 3.5em;
                                left: 0;
                                text-align: center;
                                opacity: 0;
                                transform: translateY(50px);
                                transition: all 1s;
                                p{
                                    text-decoration: none;
                                    font-size: 0.75em;
                                    color: white;
                                }
                            }
                            &:hover{
                                .pj-detail{
                                    opacity: 1;
                                    transform: translateY(0);
                                }
                                img{
                                    filter: blur(2.5px) brightness(50%);
                                }
                            }
                        }   
                    }
                }
                &.appear{
                    display: block;
                    animation-name: screenAppear;
                    animation-duration: 1.5s;
                }             
            }

            #contact{
                display: none;
                z-index: 1;
                padding: 2.5em;
                h1{
                    width: 44.2vw;
                    margin-bottom: 1em;
                }
                p{
                    padding: 0 1.5em;
                }
                .line{
                    display: block;
                    content: " ";
                    width: 345px;
                    height: 0.4px;
                    margin: 1em 1.5em;
                    background-color: $text-color;   
                }
                &.appear{
                    display: block;
                    animation-name: screenAppear;
                    animation-duration: 1.5s;
                }  
            }

            @keyframes screenAppear {
                0%{
                    transform: translateY(50px);
                    opacity: 0;
                }
                100%{
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
        
}

